{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Hop Reveal plugin for Craft CMS 3.x
 *
 * Hop Reveal Settings.twig
 *
 * @author    Hop Studios
 * @copyright Copyright (c) 2020 Hop Studios
 * @link      hopstudios.com
 * @package   HopReveal
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

<h1>Banner Visibility</h1>

{{ forms.radioGroupField({
    label: 'Front End Visibility',
    id: 'frontEndVisibility',
    name: 'frontEndVisibility',
    options: [        
        'Hide',
        'Show to admins only',
        'Show to everyone (not recommended!)'
    ],
    value: settings['frontEndVisibility']})
}}

{{ forms.radioGroupField({
    label: 'Control Panel Visibility',
    id: 'controlPanelVisibility',
    name: 'controlPanelVisibility',
    options: [        
        'Hide',
        'Show to admins only',
        'Show to everyone (not recommended!)'
    ],
    value: settings['controlPanelVisibility']})
}}

<h1>Environment Labels</h1>
<p>Select label text and colours for the top-of-page banners</p>

{{ forms.textField({
    label: 'Production Label',
    id: 'productionLabel',
    placeholder: 'Production',  
    name: 'productionLabel',
    value: settings['productionLabel']})
}}

{{ forms.colorField({
    label: 'Production Colour',
    id: 'productionColour',  
    name: 'productionColour',
    value: settings['productionColour']})
}}

{{ forms.textField({
    label: 'Staging Label',
    id: 'stagingLabel',
    placeholder: 'Production',  
    name: 'stagingLabel',
    value: settings['stagingLabel']})
}}

{{ forms.colorField({
    label: 'Staging Colour',
    id: 'stagingColour',
    name: 'stagingColour',
    value: settings['stagingColour']})
}}

{{ forms.textField({
    label: 'Development Label',
    id: 'productidevLabelonLabel',
    placeholder: 'Production',  
    name: 'devLabel',
    value: settings['devLabel']})
}}

{{ forms.colorField({
    label: 'Development Colour',
    id: 'devColour',
    name: 'devColour',
    value: settings['devColour']})
}}
